<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width=device-width, inital-scale=1">
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />

        <br>
        <br>
        <br>

        <title>About the team</title>

    </head>
    <body style="background-color:#fff9ed;font-family:candara;">
        <h1 style="text-align:center; color: #769639; font-size: 48px"> About Us </h1>
        <br>
        <p style="text-align:center; color: #f89558; font-size: 24px">We are a group of undergraduate students at San Jose State University,
            majoring in Software Engineering. <br> We wanted to build a project that would help students like us to set up and operate remote systems
            whether they be linux operated or windows. <br>We built this guide under the guidance of Prof. Kaikai Liu, and we hope that you may find it useful.</p>

        <br>
        <br>

    <a href="https://docs.google.com/presentation/d/1bi5ERf3ZBOsiHNZgiinj9PDn5cqr5qgqqfbvNm-EM_k/edit?usp=sharing">
    <img src="https://cdn.discordapp.com/attachments/708927751591297064/1051664735331942421/Remote_Computer_Access_and_Control_1.jpg"
         alt="About the Project" width="800" height="600" style="display: block; margin-left: auto; margin-right: auto; border-radius: 25px;">
    </a>

        <br>
        <hr class="featurette-divider">
        <br>

    <h2 style="text-align:center; color: #f89558; font-size: 32px">Meet the Team</h2>
        <br>
        <br>

        <!-- Three columns of text below the carousel -->
        <div class="row" style="text-align:center;">
          <div class="col-lg-6">
            <img class="rounded-circle" src="https://avatars.githubusercontent.com/u/44306698?v=4" alt="Generic placeholder image" width="140" height="140">
            <h2><a href="https://github.com/Singh1309">Inderpreet Singh</a></h2>
          </div><!-- /.col-lg-6 -->
          <div class="col-lg-6">
            <img class="rounded-circle" src="https://cdn.discordapp.com/attachments/1016868116149579776/1051667939159445545/D6060809-DE55-4501-BCB8-48DA6C5A7847.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2><a href="">Eleasha Dela Cruz</a></h2>
          </div><!-- /.col-lg-6 -->

</body>
</html>