<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content = "width=device-width, inital-scale=1">
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />

        <br>
        <br>
        <br>

        <title>Remote Access Guide</title>

    </head>
    <body style="background-color:#fff9ed;font-family:candara;">
        <h1 style="text-align:center; color: #769639; font-size: 48px"> Remote Access Guide </h1>
        <p style="text-align:center; color: #f89558; font-size: 24px">Welcome to your one-stop guide to establish remote access on your system</p>

        <br>
        <hr class="featurette-divider">
        <br>

        <!-- Three columns of text -->

        <div class="row" style="text-align:center;">

          <div class="col-lg-3"
                 style="
                    width:100px;
	                height:200px;
	                text-align: center;
	                background-color: #ff9257;
	                word-wrap: break-word; /* words won't go from the boundry */
	                margin: 10px 50px auto;
	                /* top, left, bottom*/
	                padding: 10px 20px 50px;">

            <h2 style="color: #ffeee4">About us</h2>
            <p style="color: #ffeee4">Learn how we started and our commitment to making remote access procedure easier.</p>
            <p><a class="btn btn-secondary" href="/aboutus" role="button">View &raquo;</a></p>
          </div>


          <div class="col-lg-3"
                 style="
                    width:100px;
	                height:200px;
	                text-align: center;
	                background-color: #d3c3ec;
	                word-wrap: break-word; /* words won't go from the boundry */
	                margin: 10px 50px auto;
	                /* top, left, bottom*/
	                padding: 10px 20px 50px;">

            <h2 style="color: #68764a">info & media</h2>
            <p style="color: #68764a">Explore and learn through the articles and videos from across the internet.</p>
            <p><a class="btn btn-secondary" href="/infomedia" role="button">View &raquo;</a></p>
          </div>


          <div class="col-lg-3"
                 style="
                    width:100px;
	                height:200px;
	                text-align: center;
	                background-color: #bfdb8d;
	                word-wrap: break-word; /* words won't go from the boundry */
	                margin: 10px 50px auto;
	                /* top, left, bottom*/
	                padding: 10px 20px 50px;">

            <h2 style="color: #61802e">contact us</h2>
            <p style="color: #61802e">Reach out to us to ask questions and suggest improvements.</p>
            <p><a class="btn btn-secondary" href="/contactus" role="button">View &raquo;</a></p>
          </div>
        </div><!-- /.row -->

        <br>
        <br>

        <div class="row" style="text-align:center;">

            <div class="col-lg-3"
                 style="
                    width:100px;
	                height:200px;
	                text-align: center;
	                background-color: #d3c3ec;
	                word-wrap: break-word; /* words won't go from the boundry */
	                margin: 10px 50px auto;
	                /* top, left, bottom*/
	                padding: 10px 20px 50px;">

                <h2 style="color: #6a7e30">no machine guide</h2>
                <p style="color: #6a7e30">See and download the guide for NoMachine.</p>
                <p><a class="btn btn-secondary" href="/nomachine" role="button">View &raquo;</a></p>
            </div>

            <div class="col-lg-3"
                 style="
                    width:100px;
	                height:200px;
	                text-align: center;
	                background-color: #bfdb8d;
	                word-wrap: break-word; /* words won't go from the boundry */
	                margin: 10px 50px auto;
	                /* top, left, bottom*/
	                padding: 10px 20px 50px;">
                <h2 style="color: #61802e">xrdp guide</h2>
                <p style="color: #61802e">See and download the guide for xrdp and rdp client.</p>
                <p><a class="btn btn-secondary" href="/xrdp" role="button">View &raquo;</a></p>
            </div>

            <div class="col-lg-3"
                 style="
                    width:100px;
	                height:200px;
	                text-align: center;
	                background-color: #ff9257;
	                word-wrap: break-word; /* words won't go from the boundry */
	                margin: 10px 50px auto;
	                /* top, left, bottom*/
	                padding: 10px 20px 50px;">

                <h2 style="color: #ffeee4">other guides</h2>
                <p style="color: #ffeee4">Learn more about other guides and explore the options.</p>
                <p><a class="btn btn-secondary" href="/otherguides" role="button">View &raquo;</a></p>
            </div>
        </div><!-- /.row -->
    </body>
</html>