<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content = "width=device-width, inital-scale=1">
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />

        <br>
        <br>
        <br>

        <title>Remote Access Guide</title>

    </head>
    <body style="background-color:#fff9ed;font-family:candara;">
        <h1 style="text-align:center; color: #769639; font-size: 48px"> Informative Blogs and Videos </h1>
        <p style="text-align:center; color: #f89558; font-size: 24px">Checkout some great blogs, tutorials, videos and articles to explore remote access control.</p>

        <br>
        <hr class="featurette-divider">
        <br>

        <!-- Three columns of text -->

        <div class="row" style="text-align:center;">

          <div class="col-lg-3"
                 style="
                    width:100px;
	                height:320px;
	                text-align: center;
	                background-color: #ff9257;
	                word-wrap: break-word; /* words won't go from the boundry */
	                margin: 10px 50px auto;
	                /* top, left, bottom*/
	                padding: 10px 20px 50px;">

            <h2 style="color: #ffeee4">what is remote access control?</h2>
            <p style="color: #ffeee4">why use remote access control? <br> remote access control methods.
            <br> common features of remote access control software.
            <br>by Vissarion Yfantis</p>
              <br>
            <p><a class="btn btn-secondary" href="https://www.parallels.com/blogs/ras/remote-access-control/" role="button">View &raquo;</a></p>
          </div>


          <div class="col-lg-3"
                 style="
                    width:100px;
	                height:320px;
	                text-align: center;
	                background-color: #d3c3ec;
	                word-wrap: break-word; /* words won't go from the boundry */
	                margin: 10px 50px auto;
	                /* top, left, bottom*/
	                padding: 10px 20px 50px;">

            <h2 style="color: #68764a">how to prevent remote access trojan attacks</h2>
            <p style="color: #68764a">Remote access trojans grant attackers full control over your machine—a terrifying scenario. Here's how to beef up your defenses.
            <br> by Sandeep Babu</p>
            <p><a class="btn btn-secondary" href="https://www.makeuseof.com/how-to-prevent-remote-access-trojan-attacks/" role="button">View &raquo;</a></p>
          </div>


          <div class="col-lg-3"
                 style="
                    width:100px;
	                height:320px;
	                text-align: center;
	                background-color: #bfdb8d;
	                word-wrap: break-word; /* words won't go from the boundry */
	                margin: 10px 50px auto;
	                /* top, left, bottom*/
	                padding: 10px 20px 50px;">

            <h2 style="color: #61802e">how to remotely access your PC from an android phone </h2>
            <p style="color: #61802e">There are a lot of reasons why you might want to remotely access a PC from your mobile device.
            <br> by Marinel Sigue</p>
              <br>
            <p><a class="btn btn-secondary" href="https://www.slashgear.com/1133535/how-to-remotely-access-your-pc-from-an-android-phone/" role="button">View &raquo;</a></p>
          </div>
        </div><!-- /.row -->

        <br>
        <br>
        <br>

        <iframe width="375" height="315" src="https://www.youtube.com/embed/-QypBk0Bu68" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen style="margin-left: 30px; margin-right: 30px"></iframe>

        <iframe width="375" height="315" src="https://www.youtube.com/embed/PH3MICteZTo" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen style="margin-left: 30px; margin-right: 30px"></iframe>

        <iframe width="375" height="315" src="https://www.youtube.com/embed/ql7opGQ3czE" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen style="margin-left: 30px; margin-right: 30px"></iframe>

    </body>
</html>

