<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content = "width=device-width, inital-scale=1">
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />

        <br>
        <br>
        <br>

        <title>Remote Access Guide</title>

    </head>
    <body style="background-color:#fff9ed;font-family:candara;">
        <h1 style="text-align:center; color: #769639; font-size: 48px"> Other Applications/Guides </h1>
        <br>

        <br>
        <hr class="featurette-divider">
        <br>

        <p style="text-align:center; color: #f89558; font-size: 32px">TeamViewer</p>


        <!-- Three columns of text -->

        <div class="row" style="text-align:center;">

          <div class="col-lg-3"
                 style="
                    width:100px;
	                height:225px;
	                text-align: center;
	                background-color: #ff9257;
	                word-wrap: break-word; /* words won't go from the boundry */
	                margin: 10px 50px auto;
	                /* top, left, bottom*/
	                padding: 10px 20px 50px;">

            <h2 style="color: #ffeee4">About TeamViewer</h2>
            <p style="color: #ffeee4">TeamViewer is a remote access and remote control computer software,
                allowing maintenance of computers and other devices</p>
            <p><a class="btn btn-secondary" href="https://www.teamviewer.com/en-us/" role="button">Learn more &raquo;</a></p>
          </div>

           <iframe width="400" height="315" src="https://www.youtube.com/embed/UWPaw8xUmKc?start=150" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <div class="col-lg-3"
                 style="
                    width:100px;
	                height:200px;
	                text-align: center;
	                background-color: #bfdb8d;
	                word-wrap: break-word; /* words won't go from the boundry */
	                margin: 10px 50px auto;
	                /* top, left, bottom*/
	                padding: 10px 20px 50px;">

            <h2 style="color: #61802e">Installation Page</h2>
            <p style="color: #61802e">Choose the download option for your OS</p>
            <p><a class="btn btn-secondary" href="https://www.teamviewer.com/en-us/download/windows/"
                  role="button"> View &raquo;</a></p>
          </div>
        </div><!-- /.row -->

        <br>
        <hr class="featurette-divider">
        <br>

        <p style="text-align:center; color: #f89558; font-size: 32px">x11 forwading technique</p>


        <!-- Three columns of text -->

        <div class="row" style="text-align:center;">

          <div class="col-lg-3"
                 style="
                    width:100px;
	                height:245px;
	                text-align: center;
	                background-color: #ff9257;
	                word-wrap: break-word; /* words won't go from the boundry */
	                margin: 10px 50px auto;
	                /* top, left, bottom*/
	                padding: 10px 20px 50px;">

            <h2 style="color: #ffeee4">About x11 forwarding</h2>
            <p style="color: #ffeee4">X11 forwarding is a mechanism that allows a user to start up remote applications,
                and then forward the application display to their local Windows machine.
                It enables you to run GUIs from a local server.</p>
            <p><a class="btn btn-secondary" href="https://www.businessnewsdaily.com/11035-how-to-use-x11-forwarding.html" role="button">Learn more &raquo;</a></p>
          </div>

           <iframe width="400" height="315" src="https://www.youtube.com/embed/FlHVuA_98SA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <div class="col-lg-3"
                 style="
                    width:100px;
	                height:200px;
	                text-align: center;
	                background-color: #bfdb8d;
	                word-wrap: break-word; /* words won't go from the boundry */
	                margin: 10px 50px auto;
	                /* top, left, bottom*/
	                padding: 10px 20px 50px;">

            <h2 style="color: #61802e">Setup Instructions</h2>
            <p style="color: #61802e">Follow the instructions on this page to enable x11 forwarding.</p>
            <p><a class="btn btn-secondary" href="https://www.hpc2n.umu.se/documentation/access-and-accounts/ssh-x11-forwarding"
                  role="button"> View &raquo;</a></p>
          </div>
        </div><!-- /.row -->


    </body>
</html>