<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content = "width=device-width, inital-scale=1">
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />

        <br>
        <br>
        <br>

        <title>Remote Access Guide</title>

    </head>
    <body style="background-color:#fff9ed;font-family:candara;">
        <h1 style="text-align:center; color: #769639; font-size: 48px"> xrdp </h1>
        <br>
        <p style="text-align:center; color: #f89558; font-size: 24px">xrdp is a free and open-source implementation of Microsoft RDP server
            that enables operating systems other than Microsoft Windows to provide a fully functional RDP-compatible remote desktop experience.</p>

        <br>
        <hr class="featurette-divider">
        <br>

        <!-- Three columns of text -->

        <div class="row" style="text-align:center;">

          <div class="col-lg-3"
                 style="
                    width:100px;
	                height:200px;
	                text-align: center;
	                background-color: #ff9257;
	                word-wrap: break-word; /* words won't go from the boundry */
	                margin: 10px 50px auto;
	                /* top, left, bottom*/
	                padding: 10px 20px 50px;">

            <h2 style="color: #ffeee4">About xrdp</h2>
            <p style="color: #ffeee4">Learn more in detail about xrdp from their website</p>
            <p><a class="btn btn-secondary" href="http://xrdp.org/" role="button">View &raquo;</a></p>
          </div>

           <iframe width="400" height="315" src="https://www.youtube.com/embed/iECaYhPPSJQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          <div class="col-lg-3"
                 style="
                    width:100px;
	                height:200px;
	                text-align: center;
	                background-color: #bfdb8d;
	                word-wrap: break-word; /* words won't go from the boundry */
	                margin: 10px 50px auto;
	                /* top, left, bottom*/
	                padding: 10px 20px 50px;">

            <h2 style="color: #61802e">Installation File</h2>
            <p style="color: #61802e">Download the installation file and just execute it in the terminal</p>
            <p><a class="btn btn-secondary" href="https://github.com/Singh1309/RemoteComputerAccess/blob/main/xrdpinstallation.py"
                  role="button" download>Download &raquo;</a></p>
          </div>
        </div><!-- /.row -->


    </body>
</html>